[Unit]
Description=Achievement Tracker Flask Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/myfirstvps/utilities/achievement_tracker
EnvironmentFile=/root/myfirstvps/utilities/achievement_tracker/.env
ExecStartPre=/usr/bin/python3 /root/myfirstvps/utilities/achievement_tracker/create_index.py
ExecStart=/usr/local/bin/gunicorn -w 1 --timeout 120 --access-logfile /var/log/achievement_tracker/access.log --error-logfile /var/log/achievement_tracker/error.log -b 0.0.0.0:8004 app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target