[Unit]
After=network.target

[Service]
WorkingDirectory=/root/quote_gun/
ExecStart=/usr/bin/python3 app.py --port=8002
StandardOutput=journal
StandardError=journal
KillMode=process
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
